<div>
	<h3 class="home-h3"><strong>1. Introduction</strong></h3>
	<p>
		IstSOS JavaScript core library is a lightweight easy-to-use javascript library that exposes commincation with the IstSOS WA REST interface.
	</p>
	<p>
		Developers can use this library to acquire sensor observation data from IstSOS server and publish it on the Web.
	</p>
	<h3 class="home-h3"><strong>2. Installation </strong><span class="text-danger glyphicon glyphicon-asterisk"></span><span class="text-danger">not ready yet</span></h3>

	<p>Install the library using npm:</p>
	<br/>
	<code class="home-code">npm install istsos-javascript-core --save</code>
	<br/>
	<br/>
	<p>Or clone the repository:</p>
	<br/>
	<code class="home-code">git clone https://github.com/istSOS/javascript-core.git</code>
	<br/>
	<br/>
	<!-- <h3 class="home-h3"><strong>3. Example</strong></h3>
	<p>

	</p>
	<h3 class="home-h3"><strong>4. Links</strong></h3> -->
</div>