html,body {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	background: #19B019;
	color: white;
	padding: 4px;
	border-radius: 5px;
}

 h4 {
	font-style: italic;
	color: #19B019;
}

th {
	font-weight: bold;
}

h3.home-h3 {
	color: #19B019;
	padding: 0;
	background: transparent;
}

.home-code {
	padding: 15px;
	color: #004106;
	background: #F6F8FA;
	white-space: nowrap;
	overflow-x: auto;
}

.jumbotron {
	background: #19B019 !important; 
	color: white !important;
	border-radius: 0 !important;
}

.methods code{
	color: #19B019 !important;
}

.istsos-list, .istsos-list>li {
	background: white !important;
	color: #19B019 !important;
	border-radius: 0 !important;
}
